.mainContainerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden !important;
}

.inputLogin {
    padding: 2px 1rem;
    height: 3rem;
    width: 40vw;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
}

.inputLogin:focus {
    border: 2px groove #cc5959f3;
}

#decContainer{
    transition: all 4s;
    width: 50vw;
    height: 20vh;
    position: absolute;
    top: 1vh;
    right: 0vw;
    transform: rotate3d(1,1,0, 25deg);
}

#loginCard {
    width: 50vw;
    height: 40vw;
    position: absolute;
    right: -5vw;
    top: 1vh;
    z-index: 1;
}

#loginCardDec {
    width: 40vh;
    height: 6vh;
    background-color: #d20d0d;
    position: absolute;
    top: 25vh;
    right: 8vw;
    transform: rotate(90deg);
    z-index: 0;
    transition: all 1s;
    box-shadow: 2px 2px 5px #000;
    animation: 5s ease-in-out 0s infinite alternate moveSilks;
}

#loginCardDec::before{
    content: " ";

}

@keyframes moveSilks {
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(100deg);
    }
}



